
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Comfortaa:wght@300&family=Lilita+One&display=swap');


body {
  margin: 0;
  font-family: 'Caveat Brush', cursive;
  font-family: 'Comfortaa', cursive;
  font-family: 'Lilita One', cursive;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background-color:#a3c0eb;
  
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
